.main-header {
    background-color: #227425; 
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}


.faculty-links-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: calc(50% + 15%);
    white-space: nowrap;
}

.faculty-links-container > li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.faculty-links-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0 10px; 
}



.faculty-link {
    margin: 0 15px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    color: #e0e0e0;
}

.user-section {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-info {
    margin-right: 15px;
    font-style: italic;
}

.logout-button {
    padding: 5px 10px;
    background-color: #085a27; 
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.register-link {
    padding: 5px 10px;
    background-color: #4caf50; 
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.register-link:hover {
    background-color: #388e3c;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-title {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }

    .nav-links li,
    .user-section {
        margin-bottom: 10px;
    }
}