.home-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.ethics-process, .application-forms, .register-info {
    margin-bottom: 30px;
}

.ethics-process ol, .application-forms ul {
    padding-left: 20px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block; /* Aligns button properly with text */
    text-decoration: none; 
}

button:hover {
    background-color: #0056b3;
}