.submission-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
}

.submission-header {
  color: black;
  padding: 15px;
  text-align: center;
}

.submission-header h5 {
  margin: 0;
}

.submission-body {
  display: flex;
  justify-content: space-between;
}

.submission-details {
  flex-basis: 40%;
  background: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.submission-details p {
  margin: 10px 0;
  color: #333;
}

.submission-details .file-list {
  margin-top: 15px;
}

.submission-details .file-list ul {
  padding-left: 20px;
}

.submission-details .file-list li {
  list-style-type: disc;
  color: #555;
  margin-bottom: 5px;
}

.submission-status-and-info {
  flex-basis: 60%;
  padding: 20px;
}

.submission-status-and-info select,
.submission-status-and-info button {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  color: #333;
  cursor: pointer;
}

.submission-status-and-info button {
  background-color: #28a745;
  color: white;
  font-size: 1em;
  border: none;
}

.submission-status-and-info .submission-actions {
  display: flex;
  /*flex-direction: column;*/
}

.submission-status-and-info .submission-actions button {
  margin-bottom: 5px; 
}


.submission-status-and-info .remove-button {
  background-color: #dc3545;
  margin-top: 15px;
}

.submission-status-and-info p {
  margin: 10px 0;
  color: #555;
}
